@using HotelBooking.Models.DTO


@model Room

@if (ViewData.ContainsKey("ErrorMessage"))
{
    <div class="text-danger">@ViewData["ErrorMessage"]</div>
}
else if (ViewData.ContainsKey("SuccessMessage"))
{
    <div class="text-success">@ViewData["SuccessMessage"]</div>
}

@if (Model != null)
{
    <table class="table table-bordered">
        <tr>
            <td>Id</td>
            <td>@Model.ID</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>@Model.RoomImage</td>
        </tr>
        <tr>
            <td>Airport Name</td>
            <td>@Model.RoomNumber</td>
        </tr>
    </table>

    <div>
        Are you sure you want to delete?

        <form method="post" asp-action="DeleteLocation">
            <input type="hidden" asp-for="@Model.ID" />
            <button type="submit" class="btn btn-danger">Yes</button>
            &nbsp;&nbsp;
            <a class="btn btn-warning" asp-controller="Room" asp-action="Details">No</a>
        </form>
    </div>
}