@model MakeMyTrip.VIewModel.dataviewModel.FlightBookingDTO

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FlightBookingDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerNameRecord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerNameRecord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingTimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingTimeStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerRefId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerRefId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightScheduleRefId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightScheduleRefId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerContactMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerContactMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerContactEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerContactEmail)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
