@model IEnumerable<MakeMyTrip.VIewModel.dataviewModel.FlightBookingDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PassengerNameRecord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingTimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerRefId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightScheduleRefId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerContactMobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerContactEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PassengerNameRecord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingTimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerRefId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightScheduleRefId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerContactMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerContactEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
