@using MakeMyTrip.VIewModel.dataviewModel
@model FlightSearchResultViewModel
@section style {
    <style type="text/css">

        .duration {
            border-left: 1px solid gray;
            font-size: x-small;
            font-weight: bold;
        }

        .flight-time {
            font-weight: bold;
        }

        .price {
            font-weight: bold;
        }
    </style>
}

<h2>Book Flights, Hotels and Holiday Packages</h2>
<hr />
<div class="row">
    <div class="col-md-5">
            <div>
                <span>Depart</span>
                <span>Arrive</span>
                <span>Duration</span>
                <span>Price Per Adult</span>
            </div>
            @if (Model.Flights != null)
        {
            @foreach (var flightDeparture in Model.Flights)
            {
                    var d = "data:image/jpeg;base64," + Convert.ToBase64String(flightDeparture.Flightlogo, 0, flightDeparture.Flightlogo.Length);
               <div class="card mb-3 shadow">
                    <div class="card-body">
                        <img src="@d" alt="Airline Logo"  width="100" height="50"/>
                        <span>@flightDeparture.FlightName</span>
                        <span class="flight-time">@flightDeparture.DepartureDate.ToString("hh:mm")</span>
                        <span class="blockquote-footer"></span>
                        <span class="flight-time">@flightDeparture.ArrivalDate.ToString("hh:mm")</span>
                       
                    </div>
                </div>
            }
        }
        else
        {
            <div class="card mb-3 shadow">
                <div class="card-body">
                    No Departure flights found for this search criteria
                </div>
            </div>
        }
    </div>

    <div class="col-md-5">
        <div>
            <span>Depart</span>
            <span>Arrive</span>
            <span>Duration</span>
            <span>Price Per Adult</span>
        </div>
        @if (Model.Retuen != null)
        {
            @foreach (var flightReturn in Model.Retuen)
            {
                var d = "data:image/jpeg;base64," + Convert.ToBase64String(flightReturn.Flightlogo, 0, flightReturn.Flightlogo.Length);
                <div class="card mb-3 shadow">
                    <div class="card-body">
                         <img src="@d" alt="Airline Logo"  width="100" height="50"/>
                        <span>@flightReturn.FlightName</span>
                        <span class="flight-time">@flightReturn.DepartureDate.ToString("hh:mm")</span>
                        <span class="blockquote-footer"></span>
                        <span class="flight-time">@flightReturn.ArrivalDate.ToString("hh:mm")</span>
                       
                    </div>
                </div>
            }
        }
        else
        {
            <div class="card mb-3 shadow">
                <div class="card-body">
                    No Departure flights found for this search criteria
                </div>
            </div>
        }
    </div>
</div>