@using MakeMyTrip.Models.Services
@model API_Obj
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>
    100*@Model.rates.USD
</h1>
<Table class="table">
    <tr>
        <th>USD</th>
        <th>INR</th>
    </tr>


    <tbodt>
        <td>@Model.rates.USD</td>
        <td>@Model.rates.INR</td>
        <td>@Model.rates.INR</td>
        <td>@Model.rates.INR</td>
        <td>@Model.rates.INR</td>

    </tbodt>



</Table>